body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
  display: flex;
}

.column {
  flex: 1;
}

.column-1 {
  border: 2px solid green;
}

.column-2 {
  border: 2px solid blue;
}

.column-3 {
  border: 2px solid red;
}
