body {
  padding: 20px;
}

.column-layout {
  display: flex;

  max-width: 1200px;
  background-color: #c6c5c4;
  padding: 20px;
}

.main-column {
  flex: 2;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}
